
<nav id="sidebar" aria-label="Main Navigation">
    <!-- Side Header -->
    <div class="content-header d-flex">
        <!-- Logo -->
        <a class="fw-semibold text-dual" href="/">
            <span class="align-items-center h-100 h3 mb-0 d-inline-block text-truncate" style="max-width: 150px">GALLERY</span>
        </a>
        <!-- END Logo -->
        <!-- Extra -->
        <div>
            <!-- Dark Mode -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="layout" data-action="dark_mode_toggle">
                <i class="far fa-moon"></i>
            </button>
            <!-- END Dark Mode -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
                <i class="fa fa-fw fa-times"></i>
            </a>
            <!-- END Close Sidebar -->
        </div>
        <!-- END Extra -->
    </div>
    <!-- END Side Header -->
    <!-- Sidebar Scrolling -->
    <div class="js-sidebar-scroll">
        <!-- Side Navigation -->
        <div class="content-side">
            <ul class="nav-main">
                <li class="nav-main-heading pt-0">User & Artist</li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/Index">
                        <i class="nav-main-link-icon fa fa-tachometer-alt"></i>
                        <span class="nav-main-link-name">DashBoard</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/UserList">
                        <i class="nav-main-link-icon fa fa-user-gear"></i>
                        <span class="nav-main-link-name">User</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/ArtistList">
                        <i class="nav-main-link-icon fa fa-list"></i>
                        <span class="nav-main-link-name">Artist</span>
                    </a>
                </li>
                <li class="nav-main-heading pt-0">Artworks</li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/ArtworkList">
                        <i class="nav-main-link-icon fa fa-list"></i>
                        <span class="nav-main-link-name">Artwork </span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/AuctionList">
                        <i class="nav-main-link-icon far fa-money-bill-1"></i>
                        <span class="nav-main-link-name">Auction </span>
                    </a>
                </li>
                <li class="nav-main-heading pt-0">Gallery & Category</li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/GalleryList">
                        <i class="nav-main-link-icon fa fa-pen-clip"></i>
                        <span class="nav-main-link-name">Gallery</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/CategoryList">
                        <i class="nav-main-link-icon fa fa-window-restore"></i>
                        <span class="nav-main-link-name">Category</span>
                    </a>
                </li>
                <li class="nav-main-heading pt-0">Other</li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/Contactus">
                        <i class="nav-main-link-icon fa-regular fa-address-card"></i>
                        <span class="nav-main-link-name">Contact Us</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/TagList">
                        <i class="nav-main-link-icon fa-regular fa-address-card"></i>
                        <span class="nav-main-link-name">Tag</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/BEIndex/ExhibitionList">
                        <i class="nav-main-link-icon fa-regular fa-address-card"></i>
                        <span class="nav-main-link-name">Exhibition</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>