
<nav id="sidebar" aria-label="Main Navigation">
    <!-- Side Header -->
    <div class="content-header d-flex">
        <!-- Logo -->
        <a class="fw-semibold text-dual" href="/">
            <span class="align-items-center h-100 h3 mb-0 d-inline-block text-truncate" style="max-width: 150px">GALLERY</span>
        </a>
        <!-- END Logo -->
        <!-- Extra -->
        <div>
            <!-- Dark Mode -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="layout" data-action="dark_mode_toggle">
                <i class="far fa-moon"></i>
            </button>
            <!-- END Dark Mode -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
                <i class="fa fa-fw fa-times"></i>
            </a>
            <!-- END Close Sidebar -->
        </div>
        <!-- END Extra -->
    </div>
    <!-- END Side Header -->
    <!-- Sidebar Scrolling -->
    <div class="js-sidebar-scroll">
        <!-- Side Navigation -->
        <div class="content-side">
            <ul class="nav-main">
                <li class="nav-main-heading pt-0">NHÂN SỰ</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/BEIndex/Artist">
                            <i class="nav-main-link-icon fa fa-user-gear"></i>
                            <span class="nav-main-link-name">Quyền truy cập</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/staffs">
                            <i class="nav-main-link-icon fa fa-list"></i>
                            <span class="nav-main-link-name">Danh sách</span>
                        </a>
                    </li>
                <li class="nav-main-heading pt-0">KHÁCH HÀNG</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/armorial">
                            <i class="nav-main-link-icon fa fa-medal"></i>
                            <span class="nav-main-link-name">Huy hiệu</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/customer">
                            <i class="nav-main-link-icon fa fa-list"></i>
                            <span class="nav-main-link-name">Danh sách</span>
                        </a>
                    </li>
                <li class="nav-main-heading pt-0">TIN TỨC / BÀI VIẾT</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/news">
                            <i class="nav-main-link-icon fa fa-pen-clip"></i>
                            <span class="nav-main-link-name">Tạo tin tức</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/news/manage">
                            <i class="nav-main-link-icon fa fa-window-restore"></i>
                            <span class="nav-main-link-name">Quản lý tin tức</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/posts/manage">
                            <i class="nav-main-link-icon fa fa-window-restore"></i>
                            <span class="nav-main-link-name">Quản lý bài viết</span>
                        </a>
                    </li>
                <li class="nav-main-heading pt-0">DIỄN ĐÀN</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/category">
                            <i class="nav-main-link-icon fa fa-window-maximize"></i>
                            <span class="nav-main-link-name">Danh mục</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link active" href="/admin/topic">
                            <i class="nav-main-link-icon fa fa-newspaper"></i>
                            <span class="nav-main-link-name">Chủ đề</span>
                        </a>
                    </li>
                <li class="nav-main-heading pt-0">QUẢN LÝ CHUNG</li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/admin/setting">
                        <i class="nav-main-link-icon fa fa-circle-info"></i>
                        <span class="nav-main-link-name">Thông tin</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/admin/about">
                        <i class="nav-main-link-icon fa-regular fa-address-card"></i>
                        <span class="nav-main-link-name">Giới thiệu</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/admin/banner">
                        <i class="nav-main-link-icon fa fa-images"></i>
                        <span class="nav-main-link-name">Banner</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link active" href="/admin/advertisement">
                        <i class="nav-main-link-icon bi bi-badge-ad-fill"></i>
                        <span class="nav-main-link-name">Quảng cáo</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>