@using OnlineArtGallery.Models.Entities;
@{
    ViewBag.Title = "View";

}

@section main
{
    <main class="main container">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wishlist<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <table class="table table-wishlist table-mobile">
                    <thead>
                        <tr>
                            <th>Artwork</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            GalleryArtEntities db = new GalleryArtEntities();
                            var id = int.Parse(Session["UserId"].ToString());
                            var wishlist = (from favourite in db.Favourites
                                            join artwork in db.Artworks on favourite.artwork_id equals artwork.artwork_id
                                            where favourite.user_id == id
                                            orderby favourite.favourite_id descending
                                            select new
                                            {
                                                Favourite = favourite,
                                                Artwork = artwork
                                            }).ToList();
                        }
                        @foreach (var item in wishlist)
                        {
                            <tr>
                                <td class="">
                                    <a href="#"> <img style="height:150px" src="~/Content/assets/images/artwork/@item.Artwork.artwork_image" alt="Product image"></a>
                                </td>
                                <td class="col-3">
                                    <h3 class="product-title">
                                        <a href="/FEArtwork/ArtworkDetail/@item.Artwork.artwork_id">@item.Artwork.artwork_name</a>
                                    </h3>
                                </td>
                                <td class="price-col">$ @item.Artwork.artwork_price</td>
                                <td class="stock-col"><span class="in-stock">In stock</span></td>
                                <td class="action-col">
                                    <button class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to Cart</button>
                                </td>
                                <td class="remove-col"><a href="/FEWishlist/Delete/@item.Favourite.favourite_id" class="btn-remove"><i class="icon-close"></i></a></td>
                                </tr>
            }


                        </tbody>
                        </table><!-- End .table table-wishlist -->
                        <div class="wishlist-share">
                            <div class="social-icons social-icons-sm mb-2">
                                <label class="social-label">Share on:</label>
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .wishlist-share -->
                    </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
}