@using OnlineArtGallery.Models.Entities;
@{
    ViewBag.Title = "View";

}

@section main
{
    <main class="main container">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wishlist<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <table class="table table-wishlist table-mobile">
                    <thead>
                        <tr>
                            <th style="width:50px">#</th>
                            <th>Artwork</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ 
                            int x = 0;
                        }
                        @foreach (var item in ViewBag.Wishlist)
                        {
                            x += 1;
                            <tr>
                                <td>@x</td>
                                <td class="">
                                    <a href="#"> <img style="height:150px" src="~/Content/assets/images/artwork/@item.ArtworkImage" alt="Product image"></a>
                                </td>
                                <td class="col-3">
                                    <h3 class="product-title">
                                        <a href="/FEArtwork/ArtworkDetail/@item.ArtworkId">@item.ArtworkName</a>
                                    </h3>
                                </td>
                                <td class="price-col">$ @item.ArtworkPrice</td>
                                <td class="stock-col">
                                    @if (item.ArtworkStatus == 1)
                                    {
                                        <span class="badge badge-success p-3">On Sale</span>
                                    }
                                    else if (item.ArtworkStatus == 2)
                                    {
                                        <span class="badge badge-warning p-3">Won Auction</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-secondary p-3">Sold out</span>
                                    }
                                </td>
                                <td class="action-col">
                                    <button data-cart-id="@item.ArtworkId" class="btn btn-block btn-outline-primary-2 cart"><i class="icon-cart-plus"></i>Add to Cart</button>
                                </td>
                                <td class="remove-col"><a href="/FEWishlist/Delete/@item.FavoriteId" class="btn-remove"><i class="icon-close"></i></a></td>
                                </tr>
            }


                        </tbody>
                        </table><!-- End .table table-wishlist -->
                        <div class="wishlist-share">
                            <div class="social-icons social-icons-sm mb-2">
                                <label class="social-label">Share on:</label>
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .wishlist-share -->
                    </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
}