
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section main
{
    @model OnlineArtGallery.Models.Entities.Category

    <div class="container-fluid mt-3">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <!--Header--><strong>CATEGORY LIST</strong><!--End Header-->
            </div>
            <div class="block-content pb-3">
                <!--Button open form-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategory">Add New Category</button>
                <!--End Button open form-->
                <div class="block-content tab-content ps-0 pe-0">
                    <!--Category Table List-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Category ID</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Category Image</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Category Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Get Data -> Input Table-->
                            @{
                                var count = 1;
                            }
                            @foreach (var obj in ViewBag.CategoryList)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@obj.category_name</td>
                                    <td><img width="50" src="~/Content/Assets/Images/categoryList_img/"</td>
                                    <td>@obj.category_created_date</td>
                                    <td>obj.category_is_status</td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                    <!--End Category Table List-->
                </div>
            </div>
        </div>
    </div>
}
@section modals
{
    <!--Modal Bootstrap Form-->
    <div class="modal fade" tabindex="-1" id="newCategory" aria-labelledby="modal-block-popin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCategory">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="category-name" class="col-form-label">Categoy Name: </label>
                            <input type="text" class="form-control" id="inputCategory" aria-describedby="nameRule" placeholder="Enter Category Name.">
                            <small id="nameRule" class="form-text text-muted">Category name rule</small>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Category image: </label>
                            <img width="150" src="~/Content/Assets/Images/categoryList_img/" alt="Alternate Text">
                            <input type="file">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div><!--End Modal Bootstrap Form-->
}

@section css
{
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
}

@section scripts
{
    <!-- Page JS Plugins -->
    <script src="/Content/adminassets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <!-- Page JS Code -->
    <script src="/Content/adminassets/js/pages/be_tables_datatables.min.js"></script>
}
