
@{
    ViewBag.Title = "ArtList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section main
{
    <div class="container-fluid mt-3">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <strong>Danh Sách Tranh Bán</strong>
            </div>
            <div class="block-content pb-3">
                <ul class="nav nav-tabs nav-fill nav-tabs-alt  " role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#published-posts-tab" role="tab" aria-selected="true">
                            ART ĐÃ DUYỆT
                            &nbsp<span class="badge bg-danger">0<!--Cập Nhật Số Lượng--></span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pendingTabs" data-bs-toggle="tab" data-bs-target="#pending-posts-tab" role="tab" aria-selected="false">
                            ART ĐANG CHỜ DUYỆT
                            &nbsp<span class="badge bg-danger">0<!--Cập Nhật Số Lượng--></span>
                        </button>
                    </li>

                </ul>

                <div class="block-content tab-content ps-0 pe-0">
                    <div class="tab-pane active" id="published-posts-tab" role="tabpanel" aria-labelledby="btabs-alt-static-home-tab">
                        <table class="table table-sm table-responsive table-hover js-dataTable-responsive dataTable no-footer dtr-inline">
                            <thead>
                            <th>Danh sách Art : </th>
                            <th>Thời gian tạo</th>
                            <th>Tiêu đề</th>
                            <th>Danh mục</th>
                            <th>Người đăng</th>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane" id="pending-posts-tab" role="tabpanel" aria-labelledby="btabs-alt-static-profile-tab">
                        <table class="table table-sm table-responsive table-hover js-dataTable-responsive dataTable no-footer dtr-inline">
                            <thead>
                            <th>Danh sách Art : </th>
                            <th>Thời gian tạo</th>
                            <th>Tiêu đề</th>
                            <th>Danh mục</th>
                            <th>Người đăng</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section css
{
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
}

@section scripts
{
    <!-- Page JS Plugins -->
    <script src="/Content/adminassets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="{/Content/adminassets/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="/Content/adminassets/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <!-- Page JS Code -->
    <script src="/Content/adminassets/pages/be_tables_datatables.min.js"></script>
}