@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section main
{

    <div class="content">
        <!-- Stats -->
        <div class="row">
            <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                <a class="block block-rounded block-link-pop border-start border-primary border-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Visitors</div>
                        <div class="fs-2 fw-normal text-dark">120,580</div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                <a class="block block-rounded block-link-pop border-start border-primary border-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Sales</div>
                        <div class="fs-2 fw-normal text-dark">150</div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                <a class="block block-rounded block-link-pop border-start border-primary border-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Earnings</div>
                        <div class="fs-2 fw-normal text-dark">$3,200</div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                <a class="block block-rounded block-link-pop border-start border-primary border-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="fs-sm fw-semibold text-uppercase text-muted">Avg Sale</div>
                        <div class="fs-2 fw-normal text-dark">$21</div>
                    </div>
                </a>
            </div>
        </div>
        @*///// div charts*@
        <div class="content">
            <!-- Chart.js Charts are initialized in js/pages/be_comp_charts.min.js which was auto compiled from _js/pages/be_comp_charts.js -->
            <!-- For more info and examples you can check out http://www.chartjs.org/docs/ -->
            <h2 class="content-heading">Chart.js</h2>
            <div class="row">
                <div class="col-xl-6">
                    <!-- Lines Chart -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Polar Area</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full text-center">
                            <div class="py-3 px-xxl-7">
                                <!-- Polar Area Chart Container -->
                                <canvas id="js-chartjs-polar"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- END Lines Chart -->
                </div>
                <div class="col-xl-6">
                    <!-- Bars Chart -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Bars</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full text-center">
                            <div class="py-3">
                                <!-- Bars Chart Container -->
                                <canvas id="js-chartjs-bars"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- END Bars Chart -->
                </div>

                <div class="col-xl-12">
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Lines</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full text-center">
                            <div class="py-3">
                                <!-- Lines Chart Container -->
                                <canvas id="js-chartjs-lines"></canvas>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
}


@section css
{
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/css/oneui.min.css">


}

@section scripts
{
    <script src="~/Content/adminassets/js/pages/be_comp_charts.min.js"></script>
    <script src="~/Content/adminassets/_js/pages/be_comp_charts.js"></script>
    <script src="~/Content/adminassets/js/plugins/chart.js/chart.min.js"></script>



    <script src="~/Content/adminassets/js/pages/be_pages_dashboard_v1.min.js"></script>
    <script src="~/Content/adminassets/js/pages/be_pages_dashboard_v1.min.js"></script>
    <script src="~/Content/adminassets/js/plugins/chart.js/chart.js"></script>







}
@*<script src="~/Content/adminassets/js/frontend.js"></script>
    <script src="~/Content/adminassets/js/oneui.app.min.js"></script> lam toi giao dien cua form dashboard , nen khong duoc de vao *@
