
@section main
{
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="container">
            <div class="page-header page-header-big text-center" style="background-image: url(/Content/assets/images/about/about-header.jpg)">
                <h1 class="page-title" style="color:white;">About us<span style="color:white">Who we are</span></h1>
            </div><!-- End .page-header -->
        </div><!-- End .container -->

        <div class="page-content pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <h2 class="title">Our Vision</h2><!-- End .title -->
                        <p>Our vision for an online artist gallery is to provide a dynamic platform that showcases artists' work, connects them with art enthusiasts worldwide, and facilitates the sale and appreciation of art in a convenient and secure manner.</p>
                    </div><!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <h2 class="title">Our Mission</h2><!-- End .title -->
                        <p>Our mission for the online artist gallery is to empower artists by providing them with a global platform to exhibit their work, foster community engagement, and facilitate art sales, while offering art enthusiasts an immersive and accessible experience to discover, appreciate, and support talented artists. </p>
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->

                <div class="mb-5"></div><!-- End .mb-4 -->
            </div><!-- End .container -->

            <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 mb-3 mb-lg-0">
                            <h2 class="title">Who We Are</h2><!-- End .title -->
                            <p class="lead text-primary mb-3">Unleashing the Boundless Creativity:<br> Your Online Destination for Artistic Inspiration</p><!-- End .lead text-primary -->
                            <p class="mb-2">We are an innovative online artist gallery, passionately dedicated to elevating artists and their work. Our platform connects artists with art lovers, providing a captivating space to discover, appreciate, and acquire exceptional artwork. </p>

                           
                        </div><!-- End .col-lg-5 -->

                        <div class="col-lg-6 offset-lg-1">
                            <div class="about-images">
                                <img src="~/Content/assets/images/about/img-4.jpg" alt="" class="about-img-front">
                                <img src="~/Content/assets/images/about/img-3.jpg" alt="" class="about-img-back w-75 h-100">

                            </div><!-- End .about-images -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light-2 pt-6 pb-6 -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="brands-text">
                            <h2 class="title">Famous works of artists</h2><!-- End .title -->
                            <p>There are renowned artists worldwide, each with a distinct style and talent. Leonardo da Vinci was a polymath, 
                            excelling as a scientist, painter, and sculptor. Vincent van Gogh showcased exceptional skill in capturing landscapes and emotions.
                            Pablo Picasso revolutionized art with his innovative approaches and diverse styles. These influential artists have left an indelible
                            mark on the art world and continue to inspire future generations.</p>
                        </div><!-- End .brands-text -->
                    </div><!-- End .col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="brands-display">
                            <div class="row justify-content-center">
                                

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung4.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung5.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung6.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung7.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung8.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->

                                <div class="col-6 col-sm-4">
                                    <a href="#" class="brand">
                                        <img src="~/Content/assets/images/about/chandung9.jpg" alt="Brand Name">
                                    </a>
                                </div><!-- End .col-sm-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .brands-display -->
                    </div><!-- End .col-lg-7 -->
                </div><!-- End .row -->






                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                                &quot;nav&quot;: false,
                                &quot;dots&quot;: true,
                                &quot;margin&quot;: 20,
                                &quot;loop&quot;: false,
                                &quot;responsive&quot;: {
                                    &quot;1200&quot;: {
                                        &quot;nav&quot;: true
                                    }
                                }
                            }">
                            <!-- End .testimonial -->
                            <!-- End .testimonial -->
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1188px, 0px, 0px); transition: all 0.4s ease 0s; width: 2376px;">
                                    <div class="owl-item" style="width: 1168px; margin-right: 20px;">
                                        <blockquote class="testimonial text-center">
                                            <img src="~/Content/assets/images/about/customer1.jpg" alt="user">
                                            <p>
                                                "
                                                Artist Gallery has received glowing reviews from its customers. With its exceptional collection of artwork and outstanding customer service, 
                                                the gallery has become a favorite destination for art lovers. Visitors praise the gallery's curated selection, 
                                                knowledgeable staff, and inviting atmosphere, making it a highly recommended spot for anyone seeking a memorable art experience."
                                            </p>
                                            <cite>
                                                Jenson Gregory
                                                <span>Customer</span>
                                            </cite>
                                        </blockquote>
                                    </div><div class="owl-item active" style="width: 1168px; margin-right: 20px;">
                                        <blockquote class="testimonial text-center">
                                            <img src="~/Content/assets/images/about/customer3.jpg" alt="user">
                                            <p>
                                                "The gallery's curated exhibits and knowledgeable staff make for an engaging and informative experience.
                                                Visitors appreciate the Artist Gallery for its outstanding quality and friendly atmosphere. The friendly and knowledgeable staff provide a memorable
                                                experience, making Artist Gallery a highly 
                                                recommended destination for art enthusiasts."
                                            </p>

                                            <cite>
                                                Victoria Ventura
                                                <span>Customer</span>
                                            </cite>
                                        </blockquote>
                                    </div>
                                </div>
                            </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next disabled"><i class="icon-angle-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div>
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
            </div>
    </main>
}