@section main
{
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="container">
            <div class="page-header page-header-big text-center" style="background-image:url(/Content/assets/images/contactus/contact-header-1.jpg)">
                <h1 class="page-title text-white">Contact us<span class="text-white">keep in touch with us</span></h1>
            </div><!-- End .page-header -->
        </div><!-- End .container -->

        <div class="page-content pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        <h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
                        <p class="mb-3">
                            Telling the Story of Art: Artist Gallery's Exquisite Collection and Impeccable Service, Exploring the Artistic Journey: Unveiling the
                            Beauty of Artist Gallery's Collection and Exceptional Services
                        </p>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="contact-info">
                                    <h3>The Office</h3>

                                    <ul class="contact-list">
                                        <li>
                                            <i class="icon-map-marker"></i>
                                            35/6 D5 Street, Ward 25, Binh Thanh, Ho Chi Minh City 72308, Vietnam
                                        </li>
                                        <li>
                                            <i class="icon-phone"></i>
                                            <a href="tel:#0705060427">+70 506 0427</a>
                                        </li>
                                        <li>
                                            <i class="icon-envelope"></i>
                                            <a href="mailto:elsatran0127@gmail.com">info@Molla.com</a>
                                        </li>

                                    </ul><!-- End .contact-list -->
                                    <a href="https://goo.gl/maps/BX4PyG5zZDWq9Z597" class="btn btn-link" target="_blank"><span>View Map</span><i class="icon-long-arrow-right"></i></a>

                                </div><!-- End .contact-info -->
                            </div><!-- End .col-sm-7 -->

                            <div class="col-sm-5">
                                <div class="contact-info">
                                    <h3>The Office</h3>

                                    <ul class="contact-list">
                                        <li>
                                            <i class="icon-clock-o"></i>
                                            <span class="text-dark">Monday-Saturday</span> <br>7am-5pm
                                        </li>
                                        <li>
                                            <i class="icon-calendar"></i>
                                            <span class="text-dark">Sunday</span> <br>7am-12pm
                                        </li>
                                    </ul><!-- End .contact-list -->
                                </div><!-- End .contact-info -->
                            </div><!-- End .col-sm-5 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-6 -->
                    <div class="col-lg-6">
                        <h2 class="title mb-1">Got Any Questions?</h2><!-- End .title mb-2 -->
                        <p class="mb-2">Use the form below to get in touch with the sales team</p>

                        <form method="post" action="@Url.Action("NewContact","BEContact")" class="contact-form mb-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="cname" class="sr-only">Name</label>
                                    <input type="text" class="form-control" name="contact_name" runat="server" placeholder="Name *" required="">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="cemail" class="sr-only">Email</label>
                                    <input type="email" class="form-control" name="contact_email" id="cemail" placeholder="Email *" required="">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="cphone" class="sr-only">Phone</label>
                                    <input type="number" class="form-control" name="contact_phone" runat="server" id="cphone" placeholder="Phone">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label for="csubject" class="sr-only">Subject</label>
                                    <input type="text" class="form-control" name="contact_subject" id="csubject" placeholder="Subject">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label for="cmessage" class="sr-only">Message</label>
                            <textarea class="form-control" cols="30" rows="4" id="cmessage" name="contact_message" required="" placeholder="Message *"></textarea>

                            <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                <span>SUBMIT</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </form><!-- End .contact-form -->
                        @if (Session["Message"] != null)
                        {
                            <div class="alert alert-success" id="successMessage">@Session["Message"]</div>
                            Session.Remove("Message");
                            <script>
                        // Set timeout for success message
                        setTimeout(function () {
                            $('#successMessage').fadeOut('slow');
                        }, 3000); // 5000 milliseconds = 5 seconds
                            </script>
                        }
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->

                <hr class="mt-4 mb-5">

                <div class="stores mb-4 mb-lg-5">
                    <h2 class="title text-center mb-3">Our Art Gallery</h2><!-- End .title text-center mb-2 -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="store">
                                <div class="row">
                                    <div class="col-sm-5 col-xl-6">
                                        <figure class="store-media mb-2 mb-lg-0">
                                            <img src="~/Content/assets/images/contactus/contact-5.jpg" alt="image">
                                        </figure><!-- End .store-media -->
                                    </div><!-- End .col-xl-6 -->
                                    <div class="col-sm-7 col-xl-6">
                                        <div class="store-content">
                                            <h3 class="store-title">"Engaging Art Enthusiasts: Discover the Captivating Exhibition at Artist Gallery - Contact Us for an Unforgettable Experience"</h3><!-- End .store-title -->
                                            <p>Immerse yourself in the world of art with our remarkable painting exhibition at Artist Gallery. From mesmerizing
                                            landscapes to thought-provoking abstract pieces, our curated collection showcases the talent and creativity of renowned artists. 
                                            Contact us today to schedule a visit and explore the captivating artwork firsthand.</p>


                                        </div><!-- End .store-content -->
                                    </div><!-- End .col-xl-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .store -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="store">
                                <div class="row">
                                    <div class="col-sm-5 col-xl-6">
                                        <figure class="store-media mb-2 mb-lg-0">
                                            <img src="~/Content/assets/images/contactus/contact-1.jpg" alt="image">
                                        </figure><!-- End .store-media -->
                                    </div><!-- End .col-xl-6 -->

                                    <div class="col-sm-7 col-xl-6">
                                        <div class="store-content">
                                            <h3 class="store-title">"Connect with Artistry: Experience the Enchanting Exhibition at Artist Gallery - Contact Us to Unveil the Beauty"</h3><!-- End .store-title -->
                                            <p>Embark on a journey of artistic expression through the remarkable painting exhibition at Artist Gallery. From evocative
                                            portraits to dynamic contemporary artworks, our carefully curated collection invites you to explore the diverse realms 
                                            of creativity. Contact us now to reserve your visit and immerse yourself in the captivating ambiance of our gallery.</p>
                                            

                                        </div><!-- End .store-content -->
                                    </div><!-- End .col-xl-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .store -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .stores -->
            </div><!-- End .container -->

        </div><!-- End .page-content -->
    </main>
}